.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 220px;
    height: 50px;
    border: 1px solid #E4B564;
    color: #E4B564;
    text-decoration: none;
}

span {
    font-weight: 700; 
}

.header {
    background-color: #171717;
}
.header-nav {
    display: flex;
    align-items: center;
    height: 125px;
}

.nav-logo {
    flex-grow: 1; 
}

.nav-tel {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 40px;
}

.nav-tel span {
    color: #D6AF76;
}

.btn img {
    margin-right: 10px;
}

.networks {
    padding: 90px 0 100px 0;
    background: url(../img/header-bg.jpeg) center center/cover no-repeat;
    background-attachment: fixed;
}

.networks-descr {
    margin: 40px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.networks-items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 470px);
    gap: 30px;
    grid-template-areas: 
            "item1 item1 item2 item2 item3 item3"
            "item4 item4 item4 item5 item5 item5";

}

.networks-item {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.networks-item:nth-child(1) {
    background-color: #634F2C;
    grid-area: item1;
}

.networks-item:nth-child(2) {
    background-color: #B4A385;
    grid-area: item2;
}

.networks-item:nth-child(3) {
    background-color: #E4B564;
    grid-area: item3;
}

.networks-item:nth-child(4) {
    background-color: #635A4A;
    grid-area: item4;
}

.networks-item:nth-child(5) {
    background-color: #B08C4D;
    grid-area: item5;
}

.equipments-projects {
    background: url(../img/parallax-bg.jpeg) center center/cover no-repeat;
    background-attachment: fixed;
    padding: 60px 0 240px 0;
}

.equipments {
    margin: 95px 0 190px 0;
    display: grid;
    grid-template-columns: repeat(3, 460px);
    grid-template-rows: repeat(6, 150px);
    gap: 30px;
    grid-template-areas:
            "part1 part2 part3"
            "part1 part2 part3"
            "part4 part2 part6"
            "part4 part5 part6"
            "part4 part5 part7"
            "part4 part5 part7";
}

.equipment {
    padding: 45px 0 0 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.equipment:nth-child(1) {
    background-color: #0E0E0E;
    grid-area: part1;
}

.equipment:nth-child(2) {
    background-color: #242424;
    grid-area: part2;
}

.equipment:nth-child(3) {
    background-color: #1F1F1F;
    grid-area: part3;
}

.equipment:nth-child(4) {
    background-color: #1F1F1F;
    grid-area: part4;
}

.equipment:nth-child(5) {
    background-color: #E4B564;
    grid-area: part5;
}

.equipment:nth-child(6) {
    background-color: #0E0E0E;
    grid-area: part6;
}

.equipment:nth-child(7) {
    background-color: #0A0909;
    grid-area: part7;
}

.projects {
    min-height: 1055px;
    background-color: #000;
    padding-top: 170px;
}

.projects-wrapper {
    display: flex;
    justify-content: space-between;
}

.projects-clients {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 390px;
    cursor: pointer;
}

.client:nth-child(1) {
    background-color: #634F2C;
}

.client:nth-child(2) {
    background-color: #E8D2ABC2;
    flex-direction: column; 
}

.client:nth-child(3) {
    background-color: #E4B564;
}

.client:nth-child(4) {
    background-color: #635A4A;
}

.client:nth-child(5) {
    background-color: #B08C4D;
}

.client:nth-child(6) {
    background-color: #634F2C;
}

.client-descr {
    opacity: 0;
    position: absolute;
    margin-top: 15px;
    width: 300px;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}

.client:hover .client-descr {
    opacity: 1;
    transition: all 1s ease;
    position: static;
}







